<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chatbot</title>
<link rel="stylesheet" href="../templates/test.css"></link>
</head>

<body onload="get_user_id()" style="background-color: #d2386c /* #d2386c #bb5588  #56c6a9  #926aa6 */">

<div class = "center">
    <img src="../res/Images/stethescope.png" width="75px" height="75px" alt="Stethoscope">
</div>

<div class="container">
    <div class="messages" id="messages">
        <div class="message">Welcome to the chatbot!</div>
    </div>
    <div class="input-area">
        <textarea id="input" placeholder="Type your message..."></textarea>
        <button onclick="sendMessage()">Send</button>
    </div>
    <div style="margin-top: 15px">
        <input type="file">
    </div>
</div>
</body>
<script src="../templates/test.js"></script>
</html>
